button {
  padding: 0.5rem 1.3rem;
  border-radius: 0.2rem;
  border: none;
  font-size: 1.25rem;
  color: white;
  background-color: rgba(179, 31, 80, 0.738);
  text-wrap: nowrap;
width: 200px;
  margin: 1rem;
}
