<section>
    <div class="task-card " *ngFor="let task of tasks let i= index">
      <div class="d-flex justify-content-between mb-2">
        <h3>
          {{ task.title }}
        </h3>
        <div class="task-state" [class.completed]="task.completed">
          {{ !task.completed ? "Completed" : "InProgress" }}
        </div>
      </div>
  
      <p>
        {{ task.text }}
      </p>
      <button (click)="onToggleTaskState(i)">
        {{ task.completed ? "Done" : "InProgress" }}
      </button>
    </div>
  </section>
  