@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");
section {
  background-color: rgb(245, 227, 237);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
}

.task-card {
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 4px 16px rgba(243, 57, 134, 0.1);
  width: 50%;
  padding: 1rem 1.25rem;
  border-radius: 1rem;
  gap: 2rem;

  margin: 0 auto;

  h3 {
    font-family: "Almarai", sans-serif;
  }
  p {
    font-family: "Almarai", sans-serif;
  }
  button {
    padding: 0.5rem 1.3rem;
    border-radius: 0.2rem;
    border: none;
    font-size: 1.25rem;
    color: white;
    background-color: rgba(179, 31, 80, 0.738);
  }
  @media(max-width:767px){
    width: fit-content;
  }

}
.task-state {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.8rem;
  border-radius: 0.25rem;
  width: fit-content;
  font-size: 0.725rem;
  background-color: #37843e;
  color: #fff;
  font-weight: 400;
  font-family: "Almarai", sans-serif;

  &.completed {
    background-color: rgba(212, 39, 97, 0.675);
  }
}
